.contents_contents_column:nth-child(4) div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents_contents_column:nth-child(4) div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents_contents_title-number {
    font-size: 14px;
    color: rgb(131, 131, 131);
    margin-left: 5px;
}

.contents_contents_comment-container {
    margin: 30px 0px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 290px;
}