/* 메뉴바와 겹쳐있는 작품 썸네일 */
.thumbnail {
    width: 100%;
    height: 400px;
    background-color: rgb(31, 31, 31);
}

/* 썸네일 밑에 겹쳐있는 콘텐츠 정보들 */
.content_info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

/* 콘텐츠 정보들 중에 왼쪽 부분 */
.content_info-box .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 236px;
    background-color: white;
    border: 1px solid rgb(226, 220, 220);
    border-radius: 3px;
}

/* 왼쪽 부분 안에 포스터 */
.content_info-box .left-column img {
    width: 160px;
    height: 230px;
}

/* 콘텐츠 정보 중 오른쪽 부분 */
.right-column {
    width: 750px;
    height: 230px;
    margin-left: 22px;
}

/* 오른쪽 부분 중 첫번째 줄 */
.content_info:first-child {
    font-size: 13px;
    margin-bottom: 25px;
}

/* 첫번째 줄에 회색 글씨 */
.content_info:first-child .gray {
    color: gray;
}

/* 첫번째 줄에 하얀 글씨 */
.content_info:first-child .white {
    color: rgb(231, 231, 231);
}

/* 오른쪽 부분 중 두번째 줄 */
.content_info:nth-child(2) {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 12px;
}

/* 오른쪽 부분 중 세번째 줄 */
.content_info:nth-child(3) {
    font-size: 17px;
    color: rgb(173, 173, 173);
    margin-bottom: 20px;
}

/* 오른쪽 부분 중 네번째 줄 */
.content_info:nth-child(4) {
    font-size: 17px;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px 0px;
}

/* 오른쪽 부분 중 보고싶어요 버튼 */
.content_want-see {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2F6E;
    color: white;
    font-size: 18px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-right: 33px;
    margin-top: 33px;
}

/* 보고싶어요 버튼의 plus 아이콘 */
.content_want-see i {
    margin-right: 10px;
    margin-left: -10px;
    transition: all 0.5s ease;
}

/* plus 아이콘 돌아가는 기능 */
.content_want-see:hover > .plus-rotate {
    transform: rotate(90deg);
}

/* 오른쪽 부분 중 마지막 줄 */
.content_info:last-child {
    display: flex;
}

/* 마지막 줄에서 평가하기 쪽 박스 */
.content_info-right {
    display: flex;
    flex-direction: column;
}

/* 평가하기 글씨 */
.content_info-right span:first-child {
    font-size: 13px;
    color: rgb(122, 122, 122);
    margin: 10px 0px;
}

/* 별 5개 한 묶음 박스 */
.content_info_star {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
}

/* 별 한개씩 개별 포장 박스 */
.star_box {
    width: 10%;
    height: 100%;
}

/* 별 아이콘 */
.content_info_star i {
    position: absolute;
    font-size: 40px;
    color: #ffdd63;
    z-index: -1;
}

/* 마진을 조정하기 위한 첫번째 별 */
.real-star1 {
    margin-left: 2.3px;
}

/* 마진을 조정하기 위한 두번째 별 */
.real-star2 {
    margin-left: 52.8px;
}

/* 마진을 조정하기 위한 세번째 별 */
.real-star3 {
    margin-left: 102.5px;
}

/* 마진을 조정하기 위한 네번째 별 */
.real-star4 {
    margin-left: 153px;
}

/* 마진을 조정하기 위한 다섯번째 별 */
.real-star5 {
    margin-left: 202.2px;
}